<h3 class="center">Edit Book Information</h3>
<div class="row">
  <div class="span6 offset3">
	<%= form_for(@book) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

	<%= f.label :title %>
	<%= f.text_field :title %>	

	<%= f.label :author %>
	<%= f.text_field :author %>	

	<%= f.label :ISBN %>
	<%= f.text_field :ISBN %>	

	<%= f.label :edition %>
	<%= f.text_field :edition %>

	<%= f.label :course, 'Course related to the book, if any' %>
  <%= f.text_field :course %>

  <p id="sell_book_check" >
	  <%= f.label :sell, 'Do you want to exchange the book or sell it?' %>
	  <%= radio_button("book", "sell", "0")  %> exchange </br>
	  <%= radio_button("book", "sell", "1")  %> sell
  </p>
    <br>
   
  <p id="sell_book_info" >
	  <%= f.label :amount, 'Expected fee:' %>
		<%= f.number_field :amount %>

	  <%= f.label :paypal_account, 'Your Paypal account email' %>
		<%= f.text_field :paypal_account%>
	</p>

	<%= f.submit "Edit Book", class: "btn btn-large btn-primary" %>

	<% end %>
  </div>
</div>
