<p id="notice"><%= notice %></p>

<h1>Book Information</h1>

<p>
  <strong>Title: </strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Added by: </strong>
  <%= link_to @book.account.name, @book.account %>
</p>

<p><strong>More information</strong></p>

<p>
  <strong>ISBN: </strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Edition: </strong>
  <%= @book.edition %>
</p>

<%if @book.course%>
  <p>
    <strong>Class related to the book: </strong>
    <%= @book.course%>
  </p>
<%end%>

<p><strong>The user <%if @book.sell == 1 %> is selling the book for $<%=@book.amount%><%else%> added the book for exchange <%end%></strong></p>

<% if current_user %>
  <% if @book.sell == 1 %>
    <%= link_to 'Buy Book', buy_book_path(@book)%> |
  <% else %>
    <%= link_to 'Get Book', get_book_path(@book)%> |
  <% end%>
<% end%>

<% if current_user?(@book.account)%>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<%end%>
<%= link_to 'Back', books_path %>