<p id="notice"><%= notice %></p>

<h1>Book Information</h1>

<p>
  <strong>Title: </strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Added by: </strong>
  <%= link_to @book.account.name, @book.account %>
</p>

<p><strong>More information</strong></p>

<p>
  <strong>ISBN: </strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Edition: </strong>
  <%= @book.edition %>
</p>

<%if @book.course%>
  <p>
    <strong>Class related to the book: </strong>
    <%= @book.course%>
  </p>
<%end%>

<!-- TODO: we can include here that the user is willing to exchange for other books or needs these books and have a link for his/her book list  -->
<p><strong>The user <% if @book.book_type == 1 %> is looking for the book <%else%> owns the book <%end%> <%if @book.sell == 1 %> and is selling it for $<%=@book.amount%><%else%> and wants to exchange it <%end%></strong></p>

<% if current_user?(@book.account)%>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<%end%>
<%= link_to 'Back', books_path %>