<!DOCTYPE html>
<html>
<head>
  <title>BookXchange</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<!-- body background="assets/bg-books.jpg" -->
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "BookXchange", root_path, id: "logo" %>
          
          <nav>
            <!-- <form accept-charset="UTF-8" action="/search" class="nav" role="search" style="margin-left: 100px;" method="POST"> -->
            <%= form_tag("/search", method: "post", class: "nav", style: "margin-left: 150px;padding-top: 9px;" ) do %>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search for Books" name="book">
              </div>
            <%end%>           
            <!-- </form> -->

            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "About us",    about_path %></li>

              <% if signed_in? %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_account_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Add a book", new_book_path %>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
