<p id="notice"><%= notice %></p>

<div class="span8">
  <p>
    <strong>Name:</strong>
    <%= @account.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @account.email %>
  </p>

  <p>
    <strong>Education:</strong>
    <%= @account.education %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @account.address %>
  </p>


  <% if @books.any? %>
    <p> <strong> Books List (<%= @books.count %>) </strong></p>
    <ol class="books">
      <%= render @books %>
    </ol>
  <% end %> 
</div>

<div class="span8">
  <p> <strong>Actions: </strong></p>
  <% if current_user?(@account)%>
    <%= link_to 'Edit Account Information', edit_account_path(@account) %> |
    <%= link_to 'Add a New book', new_book_path %> |
  <%end%>
  <%= link_to 'Home', root_path %>
</div>




